<div id="home" class="navbar-buffer">
</div>
<div class="bg" style="background-image: url({{ entry.backgroundImage.first.url }})">
  <div class="text-overlay">
    <h3>{{ entry.quote }}</h3>
    <p>{{ entry.quoteAuthor }}</p>
  </div>
</div>

<div class="fluid-container">

  <div id="profile" class="navbar-buffer">
  </div>
  <div class="container">
    <div class="row text-center">
      <h2>Profile</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center">Summary</h4>
        <p class="lead">{{ entry.summary }}</p>
      </div>
      <div class="col-md-4">
        <img src="{{ entry.profilePicture.first.url }}" style="max-width:250px " id="profil_pic"
             class="img-responsive img-circle center-block" alt="Responsive image">

        <div style="text-align: center; margin: 10% 0 10% 0;">
          <h4>{{ entry.secondQuote }}</h4>
          <p>{{ entry.secondQuoteAuthor }}</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h3>Details</h3>
        <div>
          {% for detailsBlock in entry.details %}
            <h5 style="margin-bottom: 5px;">{{ detailsBlock.headline }} </h5>
            <em>{{ detailsBlock.body }}</em>
          {% endfor %}

          <h5 style="margin-bottom: 5px;">Age</h5>
          {% set age =  date(entry.birth|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
          <em>{{ age.format("%y") }} years old</em>
        </div>
        <ul id="social-links" style="list-style-type: none;">
          {% for socialLink in entry.socialLinks %}
            <li class="social-link">
              <a href="{{ socialLink.urlLink }}" target="_blank">
                <img class="social-link-img" src="{{ socialLink.logo.first.url }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>